@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory !important;
  /* scroll-behavior: smooth !important; */
  overflow-y: scroll;
  /* cursor: none !important; */
}

body {
  --font-fallback: "Arial", "Helvetica", "sans-serif";
  --font-body: var(--font-inter), var(--font-fallback);
  --font-headings: var(--font-montserrat), var(--font-fallback);
  --logo-mobile: 1.1rem;
  --logo-desktop: 1.7rem;
  --nav-item-mobile: 0.8rem;
  --h3-mobile: 1.1rem;
  --h3-desktop: 1.4rem;
  --p-mobile: 0.8rem;
  --p-desktop: 1.1rem;
  --intro-duration: 7s;
  --color-tomato: #ff6347;
  --color-blue: #1d9bf0;
  --border: 1px solid rgba(220, 220, 220, 1);
  --transition-main: 0.3s ease all;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
  background-color: black;
  font-family: var(--font-body);
  -ms-overflow-style: none; /* hide scrollbar IE and Edge */
  scrollbar-width: none; /* hide scrollbar Firefox */
}

/* hide scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
}

/* Animations */
@keyframes mouse-click {
  0% {
    transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%))
      scale(1);
  }

  25% {
    transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%))
      scale(1.2);
  }

  50% {
    transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%))
      scale(0.9);
  }

  75% {
    transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%))
      scale(1.1);
  }

  100% {
    transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%))
      scale(1);
  }
}

@keyframes mouse-click-2 {
  0% {
    transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%))
      rotate(0deg);
  }

  50% {
    transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%))
      rotate(180deg);
  }

  100% {
    transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%))
      rotate(0deg);
  }
}

@keyframes work-reel-bg {
  from {
    background-color: rgba(0, 0, 0, 0.4);
  }
  to {
    background-color: rgba(0, 0, 0, 1);
  }
}

@keyframes work-reel {
  from {
    clip-path: inset(20%);
  }

  to {
    clip-path: inset(0%);
  }
}

@keyframes reel {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

/* a {
  cursor: none !important;
} */

/* <Cursor /> */
.dot {
  --x-px: calc(var(--x) * 1px);
  --y-px: calc(var(--y) * 1px);
  display: none;
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%));
  z-index: 9999;
  /* mix-blend-mode: difference; */
  pointer-events: none;
  transition: 0.3s ease width, 0.3s ease height;
}

.dot.pointer-in {
  width: 45px;
  height: 45px;
  /* background-color: white; */
  /* mix-blend-mode: difference; */
}

.mouse-clicked {
  animation: mouse-click 0.3s cubic-bezier(0.37, 0.3, 0.55, 1) forwards;
}

/* <Languages /> */
.languages-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 0.5rem;
}

.languages-container.desktop {
  display: none;
}

.languages-container.mobile {
  display: flex;
}

.language {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: var(--transition-main);
}

.languages-container.es-active .es {
  opacity: 1;
}

.languages-container.en-active .en {
  opacity: 1;
}

/* global styles */
i.symbol {
  font-family: var(
    --font-family-symbols
  ); /* Variable declared in local font configuration */
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

.btn-container {
  cursor: pointer;
  /* position: relative; */
  /* width: 100%;
  height: 100%; */
}

.pages-container {
  background-color: black;
}

.page-wrapper {
  /* section */
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0;
  transition: 0.2s ease-out;
}

.page-wrapper.active {
  opacity: 1;
  transition: 0.5s ease-in;
}

.page-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* padding: calc(4rem + 2vw) calc(1rem + 2vw); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99;
}

@media screen and (orientation: landscape) {
  .content-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 99;
  }
}

.element-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  max-width: 500px;
  height: fit-content;
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fade-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  background: linear-gradient(to bottom, black 10%, transparent);
}

.img-fade-right {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, black 10%, transparent);
}

.img-fade-left {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  background: linear-gradient(to right, black 10%, transparent);
}

.img-fade-bottom {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, black 30%, transparent);
}

.main-btn {
  border: var(--border);
  padding: 10px 20px;
  transition: var(--transition-main);
}

.main-btn:hover {
  background-color: var(--color-blue);
}

.video-btn-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.main-btn span {
  font-size: 1.5rem;
  font-weight: 600;
}

/* .img-modal {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.527);
  clip-path: circle(50% at 50% 50%);
} */

.text-container {
  max-width: 450px;
}

.text-container h3 {
  font-size: var(--h3-mobile);
}

.text-container p {
  font-size: var(--p-mobile);
}

/* <Intro /> */
.intro-modal {
  position: absolute;
  background-color: black;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: intro-modal 2s both ease;
  animation-delay: var(--intro-duration);
}

@keyframes intro-modal {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1.3);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.intro-heading-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-heading-container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: normal;
  font-size: calc(1.5rem + 5vw);
}

.intro-heading:nth-child(1) {
  animation: intro-heading-one 6s both ease;
}

.intro-heading:nth-child(2) {
  animation: intro-heading-two 6s both ease;
  animation-delay: 1s;
}

@keyframes intro-heading-one {
  from {
    transform: translate3d(15%, 0, 0) scale(1);
  }
  to {
    transform: translate3d(50%, -50%, 0) scale(1.2);
  }
}

@keyframes intro-heading-two {
  from {
    transform: translate3d(-15%, 0, 0) scale(1);
  }
  to {
    transform: translate3d(-50%, 50%, 0) scale(1.2);
  }
}

.intro-heading span {
  font-family: var(--font-headings);
  display: inline-block;
  animation: intro-letter ease forwards 2s;
  opacity: 0;
  text-align: center;
}

.intro-heading-wrapper video {
  object-fit: cover;
  animation: fade-out 1s forwards linear;
  animation-delay: 6s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes intro-letter {
  0% {
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.intro-heading:nth-child(1) span:nth-child(1) {
  animation-delay: 0.5s;
}

.intro-heading:nth-child(1) span:nth-child(2) {
  animation-delay: 1s;
}

.intro-heading:nth-child(1) span:nth-child(3) {
  animation-delay: 1.5s;
}

.intro-heading:nth-child(1) span:nth-child(4) {
  animation-delay: 2s;
}

.intro-heading:nth-child(1) span:nth-child(5) {
  animation-delay: 2.5s;
}

/* .intro-heading span:nth-child(6) {
  animation-delay: 0s;
} */

.intro-heading:nth-child(2) span:nth-child(1) {
  animation-delay: 2s;
}

.intro-heading:nth-child(2) span:nth-child(2) {
  animation-delay: 2.5s;
}

.intro-heading:nth-child(2) span:nth-child(3) {
  animation-delay: 3s;
}

.intro-heading:nth-child(2) span:nth-child(4) {
  animation-delay: 3.5s;
}

/* <Header /> */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  /* backdrop-filter: blur(5px); */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 0%,
    transparent 100%
  );
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
}

.logo a {
  display: block;
  padding: 10px;
  font-size: var(--logo-mobile);
  letter-spacing: 1.1px;
}

.logo a span {
  display: inline-block;
  font-family: var(--font-headings);
  /* transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: 0.3s ease all; */
  animation: logo ease both 0.3s;
}

.logo a span:nth-child(1) {
  animation-delay: calc(var(--intro-duration) + 1s);
}

.logo a span:nth-child(2) {
  animation-delay: calc(var(--intro-duration) + 1.2s);
}

.logo a span:nth-child(3) {
  animation-delay: calc(var(--intro-duration) + 1.4s);
}

.logo a span:nth-child(4) {
  animation-delay: calc(var(--intro-duration) + 1.6s);
}

.logo a span:nth-child(5) {
  animation-delay: calc(var(--intro-duration) + 1.8s);
}

/* .logo a span:nth-child(6) {
  animation-delay: calc(var(--intro-duration) + 2s);
} */

.logo a span:nth-child(7) {
  animation-delay: calc(var(--intro-duration) + 2s);
}

.logo a span:nth-child(8) {
  animation-delay: calc(var(--intro-duration) + 2.2s);
}

.logo a span:nth-child(9) {
  animation-delay: calc(var(--intro-duration) + 2.4s);
}

.logo a span:nth-child(10) {
  animation-delay: calc(var(--intro-duration) + 2.6s);
}

@keyframes logo {
  from {
    opacity: 0;
    transform: translate3d(0, -12px, 0) rotateX(-90deg) rotateY(5.7deg)
      rotate(5.7deg);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.logo a span:hover {
  opacity: 1;
  transform: translate3d(0, -12px, 0) rotateX(-90deg) rotateY(5.7deg)
    rotate(5.7deg);
}

.header-options {
  display: none;
}

/* <NavBar /> */
.nav-wrapper {
  position: relative;
  /* top: 1rem;
  right: 1rem;
  z-index: 999; */
  /* height: 20vh; */
  display: flex;
  transform: scale(calc(1 + 1vw));
  justify-content: center;
  align-items: center;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
}

.nav-container,
.main-nav,
.nav-list {
  height: 100%;
  width: 100%;
}

.main-nav {
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  flex-direction: column-reverse;
}

.nav-list {
  background-color: transparent;
  /* border: var(--border); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 99;
  width: 100%;
}

.nav-list a {
  display: block;
  width: 100%;
  padding: 7px;
}

/* .nav-list a:focus .nav-list-item,
.nav-list a:active .nav-list-item {
  background-color: #ff4827;
} */

.nav-list-item {
  position: relative;
  /* overflow: hidden; */
  text-align: center;
  background-color: transparent;
  font-size: var(--nav-item-mobile);
  font-family: var(--font-headings);
  font-weight: 600;
  transition: var(--transition-main);
}

.nav-list-item.active {
  background-color: var(--color-blue);
}

/* <PageOne */
.video-btn svg {
  fill: white;
}

.video-modal-container {
  position: absolute;
  inset: 0;
  background-color: rgba(22, 22, 22, 0.95);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  /* cursor: pointer; */
  overflow: hidden;
}

.inicio-info-info .modal {
  position: absolute;
  inset: 0;
  z-index: 99;
  transition: 1.5s ease opacity;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio-info-reel .modal {
  position: absolute;
  inset: 0;
  z-index: 99;
  transition: 1.5s ease opacity;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio-bg {
  position: absolute;
  inset: 0;
  z-index: 99;
  transition: 0.2s ease opacity;
  transition-delay: 0.8s;
}

.inicio-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inicio-info .modal span {
  font-family: var(--font-headings);
  font-size: 2rem;
  padding: 0.5rem;
  border: var(--border);
  transition: 0.3s ease opacity;
  width: 80%;
  text-align: center;
}

.video-modal-container video {
  position: absolute;
  inset: 0;
  transform: scale(1.1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes modal-not-active {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-active {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.video-modal-container video {
  /* width: 90%; */
}

.inicio-info {
  position: relative;
  /* z-index: -1; */
}

.inicio-info-info {
  position: relative;
  justify-content: center;
  align-items: center;
}

.inicio-info-reel {
  position: relative;
  justify-content: center;
  align-items: center;
}

.inicio-info .element-container {
  width: 100%;
  height: 50%;
  transition: 1s ease all;
}

.inicio-info .element-container.active {
  height: 60%;
  width: 100%;
}

.inicio-info .element-container.not-active {
  height: 40%;
  width: 100%;
}

.inicio-info .element-container.active .modal,
.inicio-info .element-container.active .inicio-bg,
.inicio-info .element-container.active span {
  opacity: 0;
}

.inicio-info .element-container.active .inicio-bg {
  transition-delay: 0s;
}

.inicio-info-text {
  z-index: 99;
  opacity: 0;
  padding: 0 1rem;
  transform: translate3d(0, 20%, 0);
}

.inicio-info-text h2 {
  font-family: var(--font-headings);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.3;
  letter-spacing: 0.1rem;
  /* text-transform: uppercase; */
}

.inicio-info .element-container.active .inicio-info-text {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s ease all;
  transition-delay: 0.25s;
}

/* <PageTwo /> */
#trabajo .page-container {
  padding: calc(4rem + 2vw) calc(1rem + 2vw);
}

#trabajo .content-container {
  flex-direction: row;
  justify-content: center;
}

/* #acerca .element-container {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  scroll-snap-type: x mandatory !important;
  scroll-behavior: smooth !important;
  padding: 0 1rem;
} */

/* #acerca .element-container::-webkit-scrollbar,
#acerca .element-container::-webkit-scrollbar {
  display: none;
} */

.work-gallery-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dragging {
  scroll-behavior: auto !important;
}

.work-gallery {
  /* --x-px: calc(var(--x) * 1px);
  --y-px: calc(var(--y) * 1px); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 20px;
  width: 100%;
  flex-direction: column;
  /* transform: translate3d(var(--x-px), 0, 0);
  transition: 0s ease transform; */
  white-space: nowrap;
}

.work-gallery .btn-container {
  width: 100%;
  height: 100%;
}

.arrow-left,
.arrow-right {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  background-color: var(--color-blue);
  border-radius: 50%;
  top: 50%;
  box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

i.symbol.arrow-left {
  left: -15px;
}

.arrow-right {
  right: -15px;
}

.work-gallery-item {
  position: relative;
  border: var(--border);
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  scroll-snap-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.work-gallery-item span {
  z-index: 99;
  display: block;
  position: relative;
  font-size: 2rem;
  width: 100%;
  font-family: var(--font-headings);
  padding: 1rem;
  border-top: var(--border);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}

.gallery-img-container {
  position: absolute;
  inset: 0;
}

.work-gallery-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.work-gallery figure {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.work-reel-container {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  animation: work-reel-bg 1s ease forwards;
}

.work-reel {
  position: absolute;
  inset: 0;
  clip-path: inset(20%);
  animation: work-reel 2s ease forwards;
}

.work-reel img,
.work-reel video {
  transform: scale(0.8);
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: reel 2s ease forwards;
  animation-delay: 0.2s;
}

.work-reel-container .btn-container {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
  font-size: 2rem;
}

/* <PageThree /> */
#acerca .page-container {
  padding: calc(4rem + 2vw) calc(1rem + 2vw);
}

.about-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.about-container .element-container {
  overflow: hidden;
  padding: 1rem 0;
}

.about-container .element-container:first-child {
  flex-basis: 40%;
}

.about-info {
  flex-basis: 60%;
}

.about-info {
  position: relative;
  z-index: 99;
}

.about-info p {
  z-index: 99;
}

.about-images {
  position: relative;
  width: 100%;
  height: 100%;
}

.about-img-container {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 99;
}

.about-img-container[data-active="true"] {
  opacity: 1;
}

.about-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* <PageFour /> */

/* Media Queries */
@media screen and (min-width: 991px) {
  /* <Cursor /> */
  .dot {
    display: block;
  }

  /* <Languages /> */
  .languages-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .languages-container.desktop {
    display: flex;
  }

  .languages-container.mobile {
    display: none;
  }

  .language {
    font-size: 1.2rem;
  }

  /* global styles */
  html {
    scroll-snap-type: y mandatory !important;
    /* scroll-behavior: smooth !important; */
    overflow-y: scroll;
  }

  .content-container {
    flex-direction: row;
  }

  .text-container h3 {
    font-size: var(--h3-desktop);
  }

  .text-container p {
    font-size: var(--p-desktop);
  }

  /* <Intro /> */
  .intro-heading:nth-child(1) {
    transform: translate3d(calc(20% - 3.7vw), 0, 0);
  }

  .intro-heading:nth-child(2) {
    transform: translate3d(calc(-20% + 3.7vw), 0, 0);
  }

  .intro-heading:nth-child(1),
  .intro-heading:nth-child(2) {
    animation: none;
  }

  @keyframes intro-letter {
    0% {
      opacity: 0;
      filter: blur(3px);
      transform: translate3d(10%, 0, 0);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
      transform: translate3d(0, 0, 0);
    }
  }

  .intro-heading:nth-child(2) span:nth-child(1) {
    animation-delay: 3s;
  }

  .intro-heading:nth-child(2) span:nth-child(2) {
    animation-delay: 3.5s;
  }

  .intro-heading:nth-child(2) span:nth-child(3) {
    animation-delay: 4s;
  }

  .intro-heading:nth-child(2) span:nth-child(4) {
    animation-delay: 4.5s;
  }

  /* <Header /> */
  .header {
    padding: 1rem 1.5rem;
  }

  .logo a {
    padding: 10px;
    font-size: var(--logo-desktop);
  }

  .header-options {
    display: flex;
    gap: 3rem;
  }

  /* <NavBar /> */
  .nav-wrapper {
  }

  .nav-list-item {
  }

  .nav-list a {
    font-size: 1.2rem;
  }

  /* <NavBarMobile /> */
  .nav-mobile {
    display: none;
  }

  /* <NavBarDesktop /> */
  .nav-desktop {
    display: flex;
  }

  /* PageOne */
  .inicio-info .element-container {
    width: 50%;
    height: 100%;
    transition: 1s ease all;
  }

  .inicio-info .element-container.active {
    width: 60%;
    height: 100%;
  }

  .inicio-info .element-container.not-active {
    width: 40%;
    height: 100%;
  }

  .inicio-info .modal span {
    font-size: 3rem;
    padding: 1rem;
  }

  .inicio-info-text h2 {
    font-size: 2rem;
  }

  /* <PageTwo /> */
  .work-gallery-wrapper {
    max-width: 1000px;
  }

  .work-gallery {
    flex-direction: row;
    gap: 2rem;
    height: 600px;
  }

  .work-gallery-item {
    opacity: 0.8;
    scroll-snap-align: none;
    transition: var(--transition-main);
  }

  .work-gallery figure {
    width: 100%;
    height: 100%;
  }

  .work-gallery-item:hover {
    transform: scale(1.1);
    opacity: 1;
  }

  i.symbol.arrow-left {
    left: -25px;
    opacity: 0.5;
  }

  i.symbol.arrow-right {
    right: -25px;
  }

  /* <PageThree /> */
  .about-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .about-container .element-container {
    height: 100%;
    overflow: hidden;
    padding: 1rem 0;
  }

  .about-container .element-container:first-child {
    flex-basis: 30%;
    height: 70%;
  }

  .about-info {
    flex-basis: 60%;
  }

  .about-info p {
    font-size: 1.3rem;
  }

  .about-images {
    clip-path: inset(0%);
    transition: var(--transition-main);
  }

  .about-images:hover {
    clip-path: inset(10%);
  }

  .about-img-container {
    transition: var(--transition-main);
  }

  .about-images:hover .about-img-container {
    transform: scale(0.8);
    transition-delay: 0.2s;
  }

  /* <PageFour /> */
}

/* @media screen and (orientation: landscape) and (max-width: 991px) {
  .img-container {
    max-width: 300px;
  }
} */
