@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory !important;
  scroll-behavior: smooth !important;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
  --font-body: "Inter", "Arial", "Helvetica";
  --font-headings: "Montserrat", "Arial", "Helvetica";
  --intro-duration: 7s;
  background-color: black;
  /* -ms-overflow-style: none; hide scrollbar IE and Edge */
  /* scrollbar-width: none; hide scrollbar Firefox */
}

/* hide scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-body);
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
}

/* Page global styles */
.pages-container {
  background-color: black;
}

.page-wrapper {
  /* section */
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  max-width: 500px;
  height: fit-content;
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fade-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  background: linear-gradient(to bottom, black 10%, transparent);
}

.img-fade-right {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, black 10%, transparent);
}

.img-fade-left {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  background: linear-gradient(to right, black 10%, transparent);
}

.img-fade-bottom {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, black 30%, transparent);
}

/* .img-modal {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.527);
  clip-path: circle(50% at 50% 50%);
} */

/* <Intro /> */
.intro-modal {
  position: absolute;
  background-color: black;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: intro-modal 2s both ease;
  animation-delay: var(--intro-duration);
}

@keyframes intro-modal {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1.3);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.intro-heading-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-heading-container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: normal;
  font-size: calc(1.5rem + 5vw);
}

.intro-heading:nth-child(1) {
  animation: intro-heading-one 6s both ease;
}

.intro-heading:nth-child(2) {
  animation: intro-heading-two 6s both ease;
  animation-delay: 1s;
}

@keyframes intro-heading-one {
  from {
    transform: translate3d(15%, 0, 0) scale(1);
  }
  to {
    transform: translate3d(50%, -50%, 0) scale(1.2);
  }
}

@keyframes intro-heading-two {
  from {
    transform: translate3d(-15%, 0, 0) scale(1);
  }
  to {
    transform: translate3d(-50%, 50%, 0) scale(1.2);
  }
}

.intro-heading span {
  font-family: var(--font-headings);
  display: inline-block;
  animation: intro-letter ease forwards 2s;
  opacity: 0;
  text-align: center;
}

video {
  object-fit: cover;
  animation: fade-out 1s forwards linear;
  animation-delay: 6s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes intro-letter {
  0% {
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.intro-heading:nth-child(1) span:nth-child(1) {
  animation-delay: 0.5s;
}

.intro-heading:nth-child(1) span:nth-child(2) {
  animation-delay: 1s;
}

.intro-heading:nth-child(1) span:nth-child(3) {
  animation-delay: 1.5s;
}

.intro-heading:nth-child(1) span:nth-child(4) {
  animation-delay: 2s;
}

.intro-heading:nth-child(1) span:nth-child(5) {
  animation-delay: 2.5s;
}

/* .intro-heading span:nth-child(6) {
  animation-delay: 0s;
} */

.intro-heading:nth-child(2) span:nth-child(1) {
  animation-delay: 2s;
}

.intro-heading:nth-child(2) span:nth-child(2) {
  animation-delay: 2.5s;
}

.intro-heading:nth-child(2) span:nth-child(3) {
  animation-delay: 3s;
}

.intro-heading:nth-child(2) span:nth-child(4) {
  animation-delay: 3.5s;
}

/* <Header /> */
.header {
  padding: 0.7rem 1rem;
}

.logo a {
  display: block;
  padding: 10px;
  font-size: 1.3rem;
  letter-spacing: 1.1px;
}

.logo a span {
  display: inline-block;
  /* transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: 0.3s ease all; */
  animation: logo ease both 0.3s;
}

.logo a span:nth-child(1) {
  animation-delay: calc(var(--intro-duration) + 1s);
}

.logo a span:nth-child(2) {
  animation-delay: calc(var(--intro-duration) + 1.2s);
}

.logo a span:nth-child(3) {
  animation-delay: calc(var(--intro-duration) + 1.4s);
}

.logo a span:nth-child(4) {
  animation-delay: calc(var(--intro-duration) + 1.6s);
}

.logo a span:nth-child(5) {
  animation-delay: calc(var(--intro-duration) + 1.8s);
}

/* .logo a span:nth-child(6) {
  animation-delay: calc(var(--intro-duration) + 2s);
} */

.logo a span:nth-child(7) {
  animation-delay: calc(var(--intro-duration) + 2s);
}

.logo a span:nth-child(8) {
  animation-delay: calc(var(--intro-duration) + 2.2s);
}

.logo a span:nth-child(9) {
  animation-delay: calc(var(--intro-duration) + 2.4s);
}

.logo a span:nth-child(10) {
  animation-delay: calc(var(--intro-duration) + 2.6s);
}

@keyframes logo {
  from {
    opacity: 0;
    transform: translate3d(0, -12px, 0) rotateX(-90deg) rotateY(5.7deg)
      rotate(5.7deg);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.logo a span:hover {
  opacity: 1;
  transform: translate3d(0, -12px, 0) rotateX(-90deg) rotateY(5.7deg)
    rotate(5.7deg);
}

/* <NavBar /> */
.nav-wrapper {
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 999;
  /* height: 20vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 100%;
  display: flex;
}

.nav-bar {
  width: 3px;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.3);
}

.nav-stick {
  width: 2px;
  height: 33%;
  background-color: white;
  transition: 0.3s ease transform;
}

.nav-container,
.main-nav,
.nav-list {
  height: 100%;
}

.nav-container {
  display: flex;
}

.nav-modal {
  position: absolute;
  inset: 0;
  height: 33%;
  width: 100%;
  background-color: rgba(225, 225, 225, 0.3);
  z-index: -1;
  transition: transform 0.3s ease;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
}

.nav-list-item {
  position: relative;
  padding: 10px;
  overflow: hidden;
  text-align: center;
}

/* <PageOne */

/* Media Queries */
@media screen and (min-width: 991px) {
  /* <Intro /> */
  .intro-heading:nth-child(1) {
    transform: translate3d(calc(20% - 3.7vw), 0, 0);
  }

  .intro-heading:nth-child(2) {
    transform: translate3d(calc(-20% + 3.7vw), 0, 0);
  }

  .intro-heading:nth-child(1),
  .intro-heading:nth-child(2) {
    animation: none;
  }

  @keyframes intro-letter {
    0% {
      opacity: 0;
      filter: blur(3px);
      transform: translate3d(10%, 0, 0);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
      transform: translate3d(0, 0, 0);
    }
  }

  .intro-heading:nth-child(2) span:nth-child(1) {
    animation-delay: 3s;
  }

  .intro-heading:nth-child(2) span:nth-child(2) {
    animation-delay: 3.5s;
  }

  .intro-heading:nth-child(2) span:nth-child(3) {
    animation-delay: 4s;
  }

  .intro-heading:nth-child(2) span:nth-child(4) {
    animation-delay: 4.5s;
  }

  /* <Header /> */
  .header {
    padding: 1rem 1.5rem;
  }

  .logo a {
    padding: 10px;
    font-size: 1.7rem;
  }
}
