@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory !important;
  scroll-behavior: smooth !important;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;
  --font-body: "Inter", "Arial", "Helvetica";
  --font-headings: "Montserrat", "Arial", "Helvetica";
  --intro-duration: 7s;
  background-color: black;
  /* -ms-overflow-style: none; hide scrollbar IE and Edge */
  /* scrollbar-width: none; hide scrollbar Firefox */
}

/* hide scrollbar */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-body);
  font-weight: 600;
}

/* Page global styles */
.page-wrapper {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* <Intro /> */
.intro-modal {
  position: absolute;
  background-color: black;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: intro-modal 2s both ease;
  animation-delay: var(--intro-duration);
}

@keyframes intro-modal {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    filter: blur(2px);
    transform: scale(1.3);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.intro-heading-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-heading-container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: normal;
  font-size: calc(1.5rem + 5vw);
}

.intro-heading:nth-child(1) {
  animation: intro-heading-one 6s both ease;
}

.intro-heading:nth-child(2) {
  animation: intro-heading-two 6s both ease;
  animation-delay: 1s;
}

@keyframes intro-heading-one {
  from {
    transform: translate3d(15%, 0, 0) scale(1);
  }
  to {
    transform: translate3d(50%, -50%, 0) scale(1.2);
  }
}

@keyframes intro-heading-two {
  from {
    transform: translate3d(-15%, 0, 0) scale(1);
  }
  to {
    transform: translate3d(-50%, 50%, 0) scale(1.2);
  }
}

.intro-heading span {
  font-family: var(--font-headings);
  display: inline-block;
  animation: intro-letter ease forwards 2s;
  opacity: 0;
  text-align: center;
}

video {
  object-fit: cover;
  animation: fade-out 1s forwards linear;
  animation-delay: 6s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes intro-letter {
  0% {
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.intro-heading:nth-child(1) span:nth-child(1) {
  animation-delay: 0.5s;
}

.intro-heading:nth-child(1) span:nth-child(2) {
  animation-delay: 1s;
}

.intro-heading:nth-child(1) span:nth-child(3) {
  animation-delay: 1.5s;
}

.intro-heading:nth-child(1) span:nth-child(4) {
  animation-delay: 2s;
}

.intro-heading:nth-child(1) span:nth-child(5) {
  animation-delay: 2.5s;
}

/* .intro-heading span:nth-child(6) {
  animation-delay: 0s;
} */

.intro-heading:nth-child(2) span:nth-child(1) {
  animation-delay: 2s;
}

.intro-heading:nth-child(2) span:nth-child(2) {
  animation-delay: 2.5s;
}

.intro-heading:nth-child(2) span:nth-child(3) {
  animation-delay: 3s;
}

.intro-heading:nth-child(2) span:nth-child(4) {
  animation-delay: 3.5s;
}

/* Media Queries */
@media screen and (min-width: 991px) {
  /* <Intro /> */
  .intro-heading:nth-child(1) {
    transform: translate3d(calc(20% - 3.7vw), 0, 0);
  }

  .intro-heading:nth-child(2) {
    transform: translate3d(calc(-20% + 3.7vw), 0, 0);
  }

  .intro-heading:nth-child(1),
  .intro-heading:nth-child(2) {
    animation: none;
  }

  @keyframes intro-letter {
    0% {
      opacity: 0;
      filter: blur(3px);
      transform: translate3d(10%, 0, 0);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
      transform: translate3d(0, 0, 0);
    }
  }

  .intro-heading:nth-child(2) span:nth-child(1) {
    animation-delay: 3s;
  }

  .intro-heading:nth-child(2) span:nth-child(2) {
    animation-delay: 3.5s;
  }

  .intro-heading:nth-child(2) span:nth-child(3) {
    animation-delay: 4s;
  }

  .intro-heading:nth-child(2) span:nth-child(4) {
    animation-delay: 4.5s;
  }
}
